<!-- Navbar -->
<nav>
  <div class="container">
    <div class="navbar">
      <!-- Mobile menu -->
      <ul class="menu menu__mobile">
        <li class="menu__item">
          <a href="#" class="menu__item-link" data-scroll
            ><span>O Mnie</span></a
          >
        </li>
        <li class="menu__item">
          <a href="#" class="menu__item-link" data-scroll
            ><span>Moje Pracę</span></a
          >
        </li>
        <li class="menu__item">
          <a href="#" class="menu__item-link" data-scroll><span>Blog</span></a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__item-link" data-scroll
            ><span>Kontakt</span></a
          >
        </li>
      </ul>
      <!-- Desktop menu -->
      <ul class="menu menu__left">
        <li class="menu__item">
          <a href="#" class="menu__item-link" data-scroll
            ><span>O Mnie</span></a
          >
        </li>
        <li class="menu__item">
          <a href="#" class="menu__item-link" data-scroll
            ><span>Moje Pracę</span></a
          >
        </li>
      </ul>
      <!-- Logo -->
      <div class="logo">
        <a href="#"
          ><img
            src="../../img/logo.png"
            alt="Text Sloneczne Kojarzenie Smakow with circle in the midle"
        /></a>
      </div>
      <!-- Desktop menu -->
      <ul class="menu menu__right">
        <li class="menu__item">
          <a href="#" class="menu__item-link" data-scroll><span>Blog</span></a>
        </li>
        <li class="menu__item">
          <a href="#contact" class="menu__item-link" data-scroll
            ><span>Kontakt</span></a
          >
        </li>
      </ul>
      <div class="burger">
        <span></span>
      </div>
    </div>
  </div>
</nav>
